<html xmlns:th=”http://www.thymeleaf.org”>
<head></head>
<body>

<div th:fragment="footer">

<div class="footer">&copy; Car Rental Company by PD&MT :)</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var $1 = jQuery.noConflict();
</script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/slider.js"></script>
<script type="text/javascript" src="../js/superfish.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>

</div>
</body>
</html>