<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>

<head>

</head>

<body>

<div>
    <a th:href="@{/}">START</a>
    <a th:href="@{/login}">ZALOGUJ</a>
    <a th:href="@{/register}">REJESTRACJA</a>
    <P>Wybierz oddział:</P>
    <FORM>
        <SELECT>
            <OPTION>POZNAŃ</OPTION>
            <OPTION>WROCŁAW</OPTION>
            <OPTION>GDAŃSK</OPTION>
            <OPTION>SZCZECIN</OPTION>
        </SELECT>
    </FORM>
    <a th:href="@{/contact}">KONTAKT</a>
</div>

</body>

</html>
