<!doctype html>

<html xmlns:th=”http://www.thymeleaf.org” xmlns:c="http://www.w3.org/1999/XSL/Transform">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Car Rental</title>


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../css/styles.css" type="text/css"/>


    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>


</head>
<body>
<c:set var="status" value="${cars.getStatus}"/>
<div id="container">
    <header style="background-color:rgba(105, 155, 186, 0.4)">
        <div class="width">
            <h1><img class="logo" src="../img/logo.png"></h1>
            <nav>
                <ul class="sf-menu dropdown">

                    <li class="selected"><a th:href="@{/}">Home</a></li>
                    <li>
                        <a href="#">Branches</a>
                        <ul>
                            <li><a th:href="@{/krakow}"  id="krakow">Kraków</a></li>
                            <li><a href="#" id="poznan">Poznań</a></li>
                            <li><a href="#" id="gdansk">Gdańsk</a></li>
                            <li><a href="#" id="warszawa">Warszawa</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/statistics}">Statistics</a></li>
                    <li><a th:href="@{/clientPage}">Client's section</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>

                    <li th:if="${auth == null}">
                        <a href="#">Log in/Register</a>
                        <ul>
                            <li><a th:href="@{/login}">Log in</a></li>
                            <li><a th:href="@{/register}">Register</a></li>
                        </ul>
                    </li>
                    <li><a th:if="${auth != null}" th:href="@{/logout}">Logout</a></li>
                </ul>
                <div class="clear"></div>
                <div class="hello" th:if="${auth != null}" th:text="${'Hello ' + auth.getPrincipal().getUsername()}">Hello</div>

            </nav>
        </div>
        <div class="clear"></div>
    </header>
    <div id="intro">
        <div class="width">
            <div class="intro-content" style="float: left; background-color: rgba(105, 155, 186, 0.0)">
                <table>
                    <tr>
                        <td style=" width: max-content; color: honeydew; font-size: large; background-color: rgba(51, 51, 51, 0.7)">
                            <span style="font-size: 16px">Type something to search the table for brand, model, branch...</span>
                            <span style="font-size: 14px">or click the name of the column to sort </span>
                            <input style="height: 22px; width: 378px" id="myInput" type="text" placeholder="Search..">
                        </td>

                    </tr>

                </table>
            </div>

            <div class="intro-content" style="float: left; background-color: rgba(105, 155, 186, 0.9)">
                <table class="table table-striped" id="myTable">
                    <thead class="thead-inverse"
                           style="color: #00264f; font-weight: bold; background-color: rgba(0, 96, 128, 0.7)">
                    <tr>
                        <th class="sorttable__th">
                            BRAND
                        </th>
                        <th class="sorttable__th">
                            MODEL
                        </th>
                        <th class="sorttable__th">
                            TYPE
                        </th>
                        <th class="sorttable__th">
                            YEAR
                        </th>
                        <th class="sorttable__th">
                            COLOR
                        </th>
                        <th class="sorttable__th">
                            MILEAGE
                        </th>
                        <th class="sorttable__th">
                            BRANCH
                        </th>
                        <th class="sorttable__th">
                            STATUS
                        </th>
                        <th class="sorttable__th">
                            PRICE
                        </th>
                        <th class="sorttable__th">
                            ACTION
                        </th>
                    </tr>
                    </thead>
                    <tbody id="filterTable" style="color: #00264d;" th:each="cars : ${listOfCars}">
                    <tr>
                        <td th:text="${cars.getBrand()}">Brand</td>
                        <td th:text="${cars.getModel()}">Model</td>
                        <td th:text="${cars.getType()}">Type</td>
                        <td th:text="${cars.getYear()}">Year</td>
                        <td th:text="${cars.getColor()}">Color</td>
                        <td th:text="${cars.getMileage()}">Mileage</td>
                        <td th:text="${cars.getBranch()}">Branch</td>

                        <td th:switch="${cars.getStatus()}">
                            <span th:case="0" style="color: limegreen; font-weight: bold">Available</span>
                            <span th:case="1" style="color: red; font-weight: bold">Rented</span>
                        </td>
                        <td th:text="${cars.getPrice() + ' PLN'}">Price</td>
                        <td th:switch="${cars.getStatus()}">
                            <a th:href="@{'/reservation/' + ${cars.id}}">
                                <button th:case="0"
                                        style="background-color: #33cc00; width: 70px; border-color: #208000; font-weight: bold">
                                    BOOK
                                </button>
                            </a>
                            <div th:if="${employee == true}">
                                <form th:action="@{'/return/' + ${cars.id}}" th:method="post" th:object="${cars}">
<!--                                    <input th:field="*{id}" type="hidden">-->
                                    <button th:case="1"
                                            style="background-color: red; width: 70px; border-color: #990000; font-weight: bold">
                                        RETURN
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="footer">&copy; Car Rental Company by PD&MT :)</div>


<div th:if="${auth != null}" th:text="${'Hello ' + auth.getPrincipal().getUsername()}" class="hello">Hello</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var $1 = jQuery.noConflict();
</script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/slider.js"></script>
<script type="text/javascript" src="../js/superfish.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>

</body>
</html>