<!doctype html>
<html xmlns:th=”http://www.thymeleaf.org”>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Car Rental</title>


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../css/styles.css" type="text/css"/>


    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>


</head>
<body>
<div id="container">
    <header style="background-color:rgba(105, 155, 186, 0.4)">
        <div class="width">
            <h1><a href="/">Car Rental</a></h1>
            <nav>
                <ul class="sf-menu dropdown">
                    <li><a th:href="@{/}">Home</a></li>
                    <li>
                        <a href="#">Branches</a>
                        <ul>
                            <li><a href="#">Kraków</a></li>
                            <li><a href="#">Poznań</a></li>
                            <li><a href="#">Gdańsk</a></li>
                            <li><a href="#">Warszawa</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/statistics}">Statistics</a></li>
                    <li><a th:href="@{/clientPage}">Client's section</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li class="selected">
                        <a href="#">Log in/Register</a>
                        <ul>
                            <li><a th:href="@{/login}">Log in</a></li>
                            <li><a th:href="@{/register}">Register</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clear"></div>
            </nav>
        </div>
        <div class="clear"></div>
    </header>


    <div id="intro">
        <div class="width">

            <div class="intro-content" style="float: left; background-color: rgba(105, 155, 186, 0.9)">
                <table style="color: #00264f; font-weight: bold; background-color: rgba(0, 96, 128, 0.7)">

                    <tr>
                        <td class="login">
                            LOGIN
                        </td>
                        <td th:if="${error != null}" class="incorrect">
                            LOGIN DATA IS INCORRECT!
                        </td>

                    </tr>
                </table>
                <table style="font-weight: bold; color: #f0f0f0">
                    <form th:action="@{/login-process}" th:method="post">


                        <tr>
                            <td style="width: 200px">E-mail:</td>
                            <td style="width: 150px"><input th:name="email" type="text" class="form-control" placeholder="Email"></td>
                        </tr>

                        <tr>
                            <td style="width: 200px">Password:</td>
                            <td style="width: 150px"><input th:name="password" type="password" class="form-control" placeholder="Password"></td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td style="width: 200px"><button type="submit" style="font-weight: bold; background-color: #8CB2CA; border-color: #4C82A4; width: 165px; height: 25px; horiz-align: right ">Log in</button></td>
                        </tr>







                    </form>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="footer">&copy; Car Rental Company by PD&MT :)</div>
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/slider.js"></script>
<script type="text/javascript" src="../js/superfish.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</body>
</html>




