<!doctype html>
<html xmlns:th=”http://www.thymeleaf.org”>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Car Rental</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../css/styles.css" type="text/css"/>


    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>


    <!--    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">-->


</head>
<body>
<div id="container">
    <header style="background-color:rgba(105, 155, 186, 0.4)">
        <div class="width">
            <h1><a href="/">Car Rental</a></h1>
            <nav>
                <ul class="sf-menu dropdown">
                    <li><a th:href="@{/}">Home</a></li>
                    <li>
                        <a href="#">Branches</a>
                        <ul>
                            <li><a href="#">Kraków</a></li>
                            <li><a href="#">Poznań</a></li>
                            <li><a href="#">Gdańsk</a></li>
                            <li><a href="#">Warszawa</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/statistics}">Statistics</a></li>
                    <li><a th:href="@{/clientPage}">Client's section</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li th:if="${auth == null}" class="selected">
                        <a href="#">Log in/Register</a>
                        <ul>
                            <li><a th:href="@{/login}">Log in</a></li>
                            <li><a th:href="@{/register}">Register</a></li>
                        </ul>
                    </li>
                    <li><a th:if="${auth != null}" th:href="@{/logout}">Logout</a></li>
                </ul>
                <div class="clear"></div>
            </nav>
        </div>
        <div class="clear"></div>
    </header>


    <div id="intro">
        <div class="width">

            <div class="intro-content" style="float: left; background-color: rgba(105, 155, 186, 0.9)">
                <table style="color: #00264f; font-weight: bold; background-color: rgba(0, 96, 128, 0.7)">

                    <tr>
                        <td>
                            REGISTER
                        </td>
                    </tr>
                </table>
                <table style="font-weight: bold; color: #f0f0f0">
                    <form th:action="@{/register}" th:method="post" th:object="${users}">

                        <tr>
                            <td style="width: 200px">First name:</td>
                            <td style="width: 150px"><input th:field="*{firstname}" type="text" class="form-control" placeholder="First name" required>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">Last name:</td>
                            <td style="width: 150px"><input th:field="*{lastname}" type="text" class="form-control" placeholder="Last name" required></td>
                        </tr>
                        <tr>
                            <td style="width: 200px">E-mail:</td>
                            <td style="width: 150px"><input th:field="*{email}" type="email" class="form-control" placeholder="Email" required></td>
                        </tr>
                        <tr>
                            <td style="width: 200px">Age:</td>
                            <td style="width: 150px"><input th:field="*{age}" type="number" class="form-control" placeholder="Age" min="1" max="125" required></td>
                        </tr>
                        <tr>
                            <td style="width: 200px">City:</td>
                            <td style="width: 150px"><input th:field="*{city}" type="text" class="form-control" placeholder="City" required></td>
                        </tr>
                        <tr>
                            <td style="width: 200px">Street:</td>
                            <td style="width: 150px"><input th:field="*{street}" type="text" class="form-control" placeholder="Street" required></td>
                        </tr>
                        <tr>
                            <td style="width: 200px">Password:</td>
                            <td style="width: 150px"><input th:field="*{password}" type="password" id="example-progress" class="form-control" placeholder="Password" required></td>
                        </tr>
                        <tr><td> </td>
                            <td>
                                <div id="progress-container"></div>
                            </td>
                        </tr>
                        <tr><td> </td>
                            <td style="width: 200px; padding: 0px"><button type="submit" class="button-log-reg">Register new user</button></td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td><span style="position: relative; bottom: 90px; left: 34px; font-size: 12px; color: gray">PASSWORD STRENGTH</span></td>
                        </tr>

                    </form>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="footer">&copy; Car Rental Company by PD&MT :)</div>
</div>
<br><br><br>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/slider.js"></script>
<script type="text/javascript" src="../js/superfish.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>


<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script>
    var $2 = jQuery.noConflict();
</script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/password-score.js"></script>


<script src="/js/bootstrap-strength-meter.js"></script>
<script>
    $2(document).ready(function() {

        $2('#example-progress').strengthMeter('progressBar', {

            container: $2('#progress-container'),

        base: 80,

        hierarchy: {

            '0': 'progress-bar-danger',

            '25': 'progress-bar-warning',

            '50': 'progress-bar-success'

        },

        passwordScore: {

            options: [],

            append: true

        }

    });

    });

</script>
</body>
</html>




