<!doctype html>
<html xmlns:th=”http://www.thymeleaf.org”>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Car Rental</title>


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../css/styles.css" type="text/css"/>


    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>


</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header(currentPath='reservation')"></div>
    <div id="intro">
        <div class="width">

            <div class="intro-content" style="float: left; background-color: rgba(105, 155, 186, 0.9)">
                <table style="color: #00264f; font-weight: bold; background-color: rgba(0, 96, 128, 0.7)">
                    <tr>
                        <td style="width: 254px;">
                            YOUR RESERVATION
                        </td>

                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="color: #00264d">Brand:</td>
                        <td style="color: #f0f0f0; font-weight: bold" th:text="${carToView.brand}"> BRAND</td>
                    </tr>
                    <tr>
                        <td style="color: #00264d">Model:</td>
                        <td style="color: #f0f0f0; font-weight: bold" th:text="${carToView.model}"> MODEL</td>
                    </tr>
                    <tr>
                        <td style="color: #00264d">Type:</td>
                        <td style="color: #f0f0f0; font-weight: bold" th:text="${carToView.type}"> TYPE</td>
                    </tr>
                    <tr>
                        <td style="color: #00264d">Year:</td>
                        <td style="color: #f0f0f0; font-weight: bold" th:text="${carToView.year}"> YEAR</td>
                    </tr>
                    <tr>
                        <td style="color: #00264d">Color:</td>
                        <td style="color: #f0f0f0; font-weight: bold" th:text="${carToView.color}"> COLOR</td>
                    </tr>
                    <tr>
                        <td style="color: #00264d">Mileage:</td>
                        <td style="color: #f0f0f0; font-weight: bold" th:text="${carToView.mileage}"> MILEAGE</td>
                    </tr>
                    <tr>
                        <td style="color: #00264d">Price:</td>
                        <td style="color: #990000; font-weight: bold" th:text="${carToView.price + ' PLN'}"> PRICE
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <form th:action="@{/reservation}" th:method="post" th:object="${carToView}">
                                <input th:field="*{id}" type="hidden">
                                <button type="submit"
                                        style="font-weight: bold; background-color: #8CB2CA; border-color: #4C82A4; width: 152px; height: 35px; horiz-align: right; ">
                                    CONFIRM
                                </button>
                            </form>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="footer">&copy; Car Rental Company by PD&MT :)</div>

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/slider.js"></script>
<script type="text/javascript" src="../js/superfish.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</body>
</html>