<!doctype html>
<html xmlns:th=”http://www.thymeleaf.org”>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Car Rental</title>


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../css/styles.css" type="text/css"/>


    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>


</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header(currentPath='statistic')"></div>
    <div id="intro">
        <div class="width">

            <div class="intro-content" style="float: left; background-color: rgba(105, 155, 186, 0.9)">
                <table class="header-table">
                    <tr>
                        <td>
                            STATISTICS
                        </td>
                        <td style="text-align: right">

                            <a th:href="@{/statisticsForm}" style="text-decoration: none; border: none">
                                <img src="../img/settings.png" width="25px" style="position: relative; top: 6px"> Advanced statistics</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cars
                        </td>
                    </tr>
                </table>
                <table class="body-table">
                    <tr>
                        <td style="width: 380px">The number of cars available:</td>
                        <td style="width: 15px" th:text="${numberOfCars}">Number of cars</td>
                    </tr>
                    <tr>
                        <td style="width: 380px">The number of users:</td>
                        <td style="width: 15px" th:text="${numberOfUsers}">Number of users</td>
                    </tr>
                    <tr>
                        <td style="width: 380px">The number of reservations:</td>
                        <td style="width: 15px" th:text="${numberOfReservations}">Number of reservations</td>
                    </tr>
                    <tr>
                        <td style="width: 380px">Total income of the Car Rental Company:</td>
                        <td style="width: 15px" th:text="${totalIncome}">Total income</td>
                    </tr>

                    <table class="header-table">
                        <tr>
                            <td>
                                Users
                            </td>
                        </tr>
                    </table>
                    <table class="body-table">
                        <tr class="header-table">
                            <td>
                                First name
                            </td>
                            <td>
                                Last name
                            </td>
                            <td>
                                E-mail
                            </td>
                            <td>
                                No. of cars
                            </td>
                        </tr>
                    </table>
                    <table class="body-table" th:each="instance : ${userAndNumberOfReservations}">
                        <tr>
                            <td th:text="${instance.key.firstname}">Firstname</td>
                            <td th:text="${instance.key.lastname}">Lastname</td>
                            <td th:text="${instance.key.email}">Email</td>
                            <td th:text="${instance.value}">Number</td>
                        </tr>
                    </table>

                </table>
            </div>
        </div>
    </div>
</div>

<div>

</div>

<div class="footer">&copy; Car Rental Company by PD&MT :)</div>

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/slider.js"></script>
<script type="text/javascript" src="../js/superfish.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</body>
</html>




