<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>

<head>

</head>

<body>

<div>
    <p th:text = "${'The number of cars available - ' + numberOfCars}"></p>
</div>

<!--<div th:each="cars : ${listOfCars}">-->
<!--    <h3 th:text="${cars.getBrand()}">-->
<!--        Brand-->
<!--    </h3>-->
<!--    <p th:text = "${'Model: ' + cars.getModel()}">Model</p>-->
<!--    <p th:text = "${'Type: ' + cars.getType()}">Type</p>-->
<!--    <p th:text = "${'Year: ' + cars.getYear()}">Year</p>-->
<!--    <hr>-->
<!--</div>-->

</body>

</html>
