<!doctype html>
<html xmlns:th=”http://www.thymeleaf.org”>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Car Rental</title>


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../css/styles.css" type="text/css"/>


    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>


</head>
<body>
<div id="container">
    <header style="background-color:rgba(105, 155, 186, 0.4)">
        <div class="width">
            <h1><a href="/">>>></a></h1>
            <nav>
                <ul class="sf-menu dropdown">
                    <li><a th:href="@{/}">Home</a></li>
                    <li>
                        <a href="#">Branches</a>
                        <ul>
                            <li><a href="#">Kraków</a></li>
                            <li><a href="#">Poznań</a></li>
                            <li><a href="#">Gdańsk</a></li>
                            <li><a href="#">Warszawa</a></li>
                        </ul>
                    </li>
                    <li class="selected"><a th:href="@{/statistics}">Statistics</a></li>
                    <li><a th:href="@{/clientPage}">Client's section</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li><a th:if="${auth != null}" th:href="@{/logout}">Logout</a></li>

                    <li th:if="${auth == null}">
                        <a href="#">Log in/Register</a>
                        <ul>
                            <li><a th:href="@{/login}">Log in</a></li>
                            <li><a th:href="@{/register}">Register</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clear"></div>
                <div class="hello" th:if="${auth != null}" th:text="${'Hello ' + auth.getPrincipal().getUsername()}">
                    Hello
                </div>
            </nav>
        </div>
        <div class="clear"></div>
    </header>
    <div id="intro">
        <div class="width">

            <div class="intro-content" style="float: left; background-color: rgba(105, 155, 186, 0.9)">
                <table class="header-table">
                    <tr>
                        <td>
                            STATISTICS
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cars
                        </td>
                    </tr>
                </table>
                <table class="body-table">
                    <tr>
                        <td style="width: 380px">The number of cars available:</td>
                        <td style="width: 15px" th:text="${numberOfCars}">Number of cars</td>
                    </tr>
                    <tr>
                        <td style="width: 380px">The number of cars available (2010 -2017):</td>
                        <td style="width: 15px" th:text="${numberOfCars_2}">Number of cars 2010 -2017</td>
                    </tr>
                    <tr>
                        <td style="width: 380px">The number of Audi cars:</td>
                        <td style="width: 15px" th:text="${numberOfCars_3}">Number of Audi cars</td>
                    </tr>
                    <tr>
                        <td style="width: 380px">The number of Toyota cars:</td>
                        <td style="width: 15px" th:text="${numberOfCars_4}">Number of Toyota cars</td>
                    </tr>
                    <tr>
                        <td style="width: 380px">The number of users:</td>
                        <td style="width: 15px" th:text="${numberOfUsers}">Number of users</td>
                    </tr>
                    <tr>
                        <td style="width: 380px">The number of reservations:</td>
                        <td style="width: 15px" th:text="${numberOfReservations}">Number of reservations</td>
                    </tr>
                    <tr>
                        <td style="width: 380px">Total income of the Car Rental Company:</td>
                        <td style="width: 15px" th:text="${totalIncome}">Total income</td>
                    </tr>

                    <table class="header-table">
                        <tr>
                            <td>
                                Users
                            </td>
                        </tr>
                    </table>
                    <table class="body-table"  th:each="instance : ${userAndNumberOfReservations}">
                        <tr class="header-table">
                            <td>
                                First name
                            </td>
                            <td>
                                Last name
                            </td>
                            <td>
                                E-mail
                            </td>
                            <td>
                                No. of cars
                            </td>
                        </tr>
                        <tr>
                            <td th:text="${instance.key.getFirstname()}">Firstname</td>
                            <td th:text="${instance.key.getLastname()}">Lastname</td>
                            <td th:text="${instance.key.getEmail()}">Email</td>
                            <td th:text="${instance.value}">Number</td>
                        </tr>
                    </table>

                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <a th:href="@{/statisticsForm}">Statistics form</a>
</div>

<div class="footer">&copy; Car Rental Company by PD&MT :)</div>
<img class="logo" src="../img/logo.png">
<div th:if="${auth != null}" th:text="${'Hello ' + auth.getPrincipal().getUsername()}" class="hello">Hello</div>

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/slider.js"></script>
<script type="text/javascript" src="../js/superfish.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</body>
</html>




